@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  background-color: rgb(226, 34, 34);
  color: white;
}

div.light-mode {
  background-color: rgb(226, 60, 60);
}

div.dark-mode {
  background-color: rgb(226, 27, 27);
}

h1 {
  font-family: cursive;
}

.m-5px {
  margin: 5px;
}

.m-30px {
  margin: 30px;
}

.mb-30px {
  margin-bottom: 30px;
}

button {
  font-family: "Roboto Mono", monospace;
  font-size: 150%;
  color: white;
}

.active {
  border: 3px solid green;
  background-color: rgb(0, 68, 0);
}

.active:hover {
  cursor: pointer;
}

.inactive {
  border: 3px solid red;
  background-color: rgb(109, 0, 0);
}

.inactive:hover {
  cursor: pointer;
}

.big-text {
  font-size: 1.875rem;
}

.description {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  margin-top: 5px;
  margin-bottom: 50px;
}

.legend-name {
  font-family: "Oswald", sans-serif;
}

.activator.light-mode {
  border: 3px solid rgb(255, 44, 44);
  border-radius: 8px;
  background-color: rgb(253, 60, 60);
  transition-duration: 1s;
  color: black;
}

.activator.light-mode:hover {
  cursor: pointer;
  background-color: rgb(255, 44, 44);
  color: white;
}

.activator.dark-mode {
  border: 3px solid rgb(226, 11, 11);
  border-radius: 8px;
  background-color: rgb(226, 27, 27);
  transition-duration: 1s;
  color: black;
}

.activator.dark-mode:hover {
  cursor: pointer;
  background-color: rgb(226, 11, 11);
  color: white;
}

.legend-type {
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 510px) {
  .types {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 511px) {
  .types {
    display: flex;
    flex-direction: row;
  }
}

.type {
  flex: 0.5;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.background {
  position: absolute;
  z-index: -1;
}

button.selected-map::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(77, 77, 77, 0.4);
  z-index: 1;
}

.button-text {
  position: absolute;
  z-index: 2;
}

img.selected-map-image::before {
  filter: blur(2px);
}

.error-banner-container {
  background-color: red;
}

.error-banner-text {
  font-size: larger;
  font-family: "Roboto Mono", monospace;
}
