@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  background-color: rgb(253, 68, 68);
  color: white;
}

h1 {
  font-family: "Climate Crisis", cursive;
}

button,
.m-5px {
  margin: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 150%;
}

.active {
  border: 3px solid green;
  background-color: rgb(0, 68, 0);
}

.active:hover {
  cursor: pointer;
}

.inactive {
  border: 3px solid red;
  background-color: rgb(109, 0, 0);
}

.inactive:hover {
  cursor: pointer;
}

.big-text {
  font-size: 1.875rem;
}

.description {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  margin-top: 5px;
  margin-bottom: 50px;
}

.legend-name {
  font-family: "Oswald", sans-serif;
}
